{% extends "shared/base.html" %}


{% block title %}
<title>Customers</title>
{% endblock %}

{% block content %}
<div class="container">
    <form action="/customers/search">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" name="surname" placeholder="Enter surname">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>Telephone</label>
            <input type="text" class="form-control" name="telephone" placeholder="Enter telephone">
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Is blocked</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_block" value="True">
                        <label class="form-check-label">
                            True
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="is_block"  value="False">
                        <label class="form-check-label">
                            False
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<div class="container">

    <div class="row">
        <div class="col">
            <h1 class="display-5">Table Customers</h1>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Telephone</th>
                <th scope="col">Status block</th>
                <th scope="col">Date creation</th>
                <th scope="col">Detail View</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
            {% with obj=customer %}
            {% include "components/table_customers.html" %}
            {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %} 